<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<body>
<!--This is just a test template.-->
<h1>Sonar report summary</h1>
<table border="1px">
       <tr th:each="issue : ${issues}">
              <td th:text="${issue.key}"></td>
              <td th:text="${issue.component}"></td>
              <td th:text="${issue.componentId}"></td>
              <td th:text="${issue.project}"></td>
              <td th:text="${issue.rule}"></td>
              <td th:text="${issue.status}"></td>
              <td th:text="${issue.resolution}"></td>
              <td th:text="${issue.severity}"></td>
              <td th:text="${issue.message}"></td>
              <td th:text="${issue.line}"></td>
              <td th:text="${issue.debt}"></td>
              <td th:text="${issue.creationDate}"></td>
              <td th:text="${issue.updateDate}"></td>
              <td th:text="${issue.fUpdateAge}"></td>
              <td th:text="${issue.closeDate}"></td>
       </tr>
</table>
</body>
</html>
